@model IEnumerable<InsuranceVitKadlec.Models.InsuredesInsurencesHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Insured.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurence.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsurenceValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsurenceSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfChange)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Insured.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insurence.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsurenceValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsurenceSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfChange)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
