@model IEnumerable<InsuranceVitKadlec.Models.Article>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center display-4 fw-bold lh-1 mb-3">Pojišťovna Jistota</h1>
<section class="py-5 text-center home-image">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
           
        </div>
    </div>
</section>



<p>
    @if (this.User.IsInRole("Admin"))
    {
        <form method="post">
            <button type="submit" asp-action="Create" asp-controller="Articles" class="btn btn-secondary">Nový článek</button>
        </form>
    }
</p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div>
                        <h3>  @Html.DisplayFor(modelItem => item.Title)</h3>
                        <span>@Html.DisplayFor(modelItem => item.Author)</span>
                        <span>@Html.DisplayFor(modelItem => item.CreatedDate)</span>
                        <p>@Html.DisplayFor(modelItem => item.Content)</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                            @if (this.User.IsInRole("Admin"))
                            {
                                <form method="post">
                                    <button type="submit" asp-action="Edit" asp-controller="Articles" asp-route-id="@item.Id" class="btn btn-secondary">Edit</button>
                                </form>
                            }
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

