@model IEnumerable<InsuranceVitKadlec.Models.InsuredInsurenceEvent>

@{
    ViewData["Title"] = "Seznam pojistných událostí";
}

<h1>@ViewData["Title"]</h1>

<p>
    <!-- <a asp-action="Create" class="btn btn-primary">Nová událost</a>-->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InsuredesInsurences.Insured.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuredesInsurences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsurenceDamage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DamageDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InsuredesInsurences.Insured.FullName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuredesInsurences.Insurence.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsurenceDamage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DamageDate)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> -->
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Podrobnosti</a>
                <!--<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
