@model IEnumerable<InsuranceVitKadlec.Models.InsuredesInsurences>

@if (this.User.IsInRole("Admin"))
{
    ViewData["Title"] = "Seznam všech služeb";
}
else if (this.User.Identity.IsAuthenticated)
{
    ViewData["Title"] = "Seznam vašich služeb";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Nová služba</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Insured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsurenceValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsurenceSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminationReason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Insured.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insurence.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsurenceValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsurenceSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminationReason)
            </td>
            <td>
                   <!-- <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> -->
                   <a asp-action="Details" asp-route-id="@item.Id">Podrobnosti</a>
                   <!-- <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
